<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Помощь</title>
</head>
<body style="font-size: 24px;">
    <h1> Помощь</h1>
    <img src="{{ url_for('static', filename='2.jpg') }}" width="48%">
    <p>Тут будут инструкции, но пока просто запомни:</p>
    <p>Главная страница — это твой каталог. Там картинка и список жанров.</p>
    <p>Выбирай то, что нравится, и читай.</p>
    <p>Если захочешь добавить свои тайтлы — пиши разработчику.</p>
    <p>Номер разраба: +79200644954</p>
    <a href="/"><button>Назад на главную</button></a>
</body>
</html>