<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ламповая читалка</title>
</head>
<body>
<div class="container">
    <h1> Привет, конфетка!</h1>
    <img src="{{ url_for('static', filename='1.jpg') }}" style="width: 55%;">
    <p>Добро пожаловать в ламповую читалку, где манга, манхва и маньхуа живут вместе и не ссорятся.</p>
    <p>Ты устал от серых списков и однотипных новинок? Забудь. Здесь — настоящее пиршество для глаз и души.</p>
    <p>Смотри, какие категории уже ждут тебя:</p>
    <p>🔥 Фэнтези — магические академии, попаданки, драконы.<br>
    🥋 Мурим — боевые искусства, ци, кланы мечей.<br>
    💖 Романтика — от школьной любви до мафии.<br>
    👭 Юри — женская любовь, тёплые истории.<br>
    👬 Яой — страсти, сложные пары, красивые мужчины.</p>
    <p>Огромный выбор. Тысячи тайтлов. Фильтры по статусу, году, рейтингу.</p>
    <p>Бери на любой вкус и цвет. Заходи, конфетка. Твой идеальный комикс уже здесь. ❤️</p>
    <a href="/catalog"><button>📚 Каталог</button></a>
    <a href="/help"><button>📜 Свиток помощи</button></a>
</div>
</body>
</html>