<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Император Меча Лунной Тени</title>
</head>
<body style="font-size: 24px;">
    <h1>✨ Император Меча Лунной Тени</h1>
    <img src="{{ url_for('static', filename='m2.jpg') }}" width="55%">
    <p><strong>📖 Описание:</strong><br>
    «Я никогда не познавал покоя, с тех пор как я присоединился к культу небесных демонов», - сказал Ён Со Ун. Он был на пороге смерти, но по какой-то причине очнулся в своем детстве и решил изменить свою судьбу, чтобы не повторить свои ошибки. Он созрел, чтобы остановить своих последователей, которые приведут к трагедии.<br><br>
    «Я стану лидером клана Мурим и отомщу за тот культ. Я желаю спокойную и богатую жизнь», - сказал Ён Со Ун, после того как он планировал свою новую жизнь. Он твердо решил не повторять свои ошибки и идти дальше к своей новой судьбе. На его пути будут множество испытаний, но он был готов.</p>
    <p><strong>📋 Информация:</strong><br>
    ⚔️ Категория: Мурим<br>
    ⭐️ Рейтинг: ⭐️⭐️⭐️⭐️☆ (8.7/10)<br>
    📅 Год: 2023<br>
    ⚪️ Статус: Заброшен</p>
    <a href="/murim">
        <button style="font-size: 28px; padding: 12px 24px;">🔙 Назад к муриму</button>
    </a>
</body>
</html>