<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Легенда о Северном клинке</title>
</head>
<body style="font-size: 24px;">
    <h1>✨ Легенда о Северном клинке</h1>
    <img src="{{ url_for('static', filename='m3.jpg') }}" width="55%">
    <p><strong>📖 Описание:</strong><br>
    После победы над тьмой «Тихой Ночи», достигнутой благодаря «Секте Северного Неба», «Центральный Небесный Альянс» предал своих спасителей. В результате заговора был убит лидер секты Чин Гванхо, успевший перед смертью расформировать её. Оставшись в одиночестве, его сын Чин Мувон, никогда не владевший боевыми искусствами, обнаруживает тайный свиток отца и начинает постигать утерянное искусство своей секты.</p>
    <p><strong>📋 Информация:</strong><br>
    ⚔️ Категория: Мурим<br>
    ⭐️ Рейтинг: ⭐️⭐️⭐️⭐️🌟 (9.7/10)<br>
    📅 Год: 2019<br>
    🔴 Статус: Завершен</p>
    <a href="/murim">
        <button style="font-size: 28px; padding: 12px 24px;">🔙 Назад к муриму</button>
    </a>
</body>
</html>