<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Двойная жизнь принцессы</title>
</head>
<body style="font-size: 24px;">
    <h1>✨ Двойная жизнь принцессы</h1>
    <img src="{{ url_for('static', filename='r2.jpg') }}" width="55%">
    <p><strong>📖 Описание:</strong><br>
    Одна из самых лучших преступниц, которая смогла заявить о себе на целую страну благодаря выходкам. Ее по праву можно назвать гадкой и смертоносной змеей, которая способна менять облик. Но опытной преступнице все же не удалось ускользнуть от влиятельного мужчины по имени Хессен. Герцог сразу же заключает с рецидивисткой договор, согласно которому она обязана помочь ему стать императором. Конечно же, воровка не знает, как осуществить такой запрос Хессена, ведь это практически невозможно. Что же будет делать главная героиня для того, чтобы выполнить условия договора и вновь стать свободной?</p>
    <p><strong>📋 Информация:</strong><br>
    💞 Категория: Романтика<br>
    ⭐️ Рейтинг: ⭐️⭐️⭐️⭐️🌟 (9.1/10)<br>
    📅 Год: 2021<br>
    🔴 Статус: Завершен</p>
    <a href="/romance">
        <button style="font-size: 28px; padding: 12px 24px;">🔙 Назад к романтике</button>
    </a>
</body>
</html>