<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Как довести хозяйку</title>
</head>
<body style="font-size: 24px;">
    <h1>✨ Как довести хозяйку</h1>
    <img src="{{ url_for('static', filename='r1.jpg') }}" width="55%">
    <p><strong>📖 Описание:</strong><br>
    В империи под названием Раун царят довольно либеральные порядки. По крайней мере на воинскую службу могут поступать представительницы прекрасного пола. Соблазнительная блондинка по имени Эль Луиза Тереза де Блуа, несмотря на утонченные формы, слывет лучшим рыцарем государства. Она готовиться выйти замуж за любимого мужчину. Однако, во время очередного бала главная героиня совершенно случайно застает жениха в объятиях другой и незамедлительно разрывает всякие отношения. От переизбытка чувств у госпожи де Блуа случается обморок. Утром она просыпается в постели "Сумасшедшего пса", в миру известного под именем Теодор. Последний заслужил репутацию бесчестного и грубого провокатора, но с Эль ведет себя крайне учтиво. Выглядит все довольно подозрительно.</p>
    <p><strong>📋 Информация:</strong><br>
    💞 Категория: Романтика<br>
    ⭐️ Рейтинг: ⭐️⭐️⭐️⭐️☆ (8.7/10)<br>
    📅 Год: 2022<br>
    🔴 Статус: Завершен</p>
    <a href="/romance">
        <button style="font-size: 28px; padding: 12px 24px;">🔙 Назад к романтике</button>
    </a>
</body>
</html>