<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Королевская свадьба</title>
</head>
<body style="font-size: 24px;">
    <h1>✨ Королевская свадьба</h1>
    <img src="{{ url_for('static', filename='r3.jpg') }}" width="55%">
    <p><strong>📖 Описание:</strong><br>
    В фэнтезийном мире существует процветающее государство, которым правит властная и суровая королева, имеющая пять дочерей, окруженных роскошью и заботой. Принцесса по имени Татьяна Картьен никогда не испытывала нужды. У нее все складывается великолепно, а впереди маячит свадьба с харизматичным герцогом. Однако, совершенно нечаянно главная героиня застает жениха с другой. Причем коварный мужчина рассказывал, что считает невесту марионеткой и согласился на брак по расчету из-за намерения улучшить социальное положение. Разгневанная Татьяна расторгает помолвку, сталкиваясь с осуждением матери. Королева дает неделю, чтобы найти нового суженого или лишить наследницу всего. Приходится заключить сделку с Кейнелом Таунсендом, более известном как "Красноглазый жнец".</p>
    <p><strong>📋 Информация:</strong><br>
    💞 Категория: Романтика<br>
    ⭐️ Рейтинг: ⭐️⭐️⭐️⭐️☆ (8.9/10)<br>
    📅 Год: 2022<br>
    🔴 Статус: Завершен</p>
    <a href="/romance">
        <button style="font-size: 28px; padding: 12px 24px;">🔙 Назад к романтике</button>
    </a>
</body>
</html>