<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Безжалостная</title>
</head>
<body style="font-size: 24px;">
    <h1>✨ Безжалостная</h1>
    <img src="{{ url_for('static', filename='y1.jpg') }}" width="55%">
    <p><strong>📖 Описание:</strong><br>
    Самый важный жизненный урок Со Чжи Мин получила от своих родителей: никогда ни от кого не завись. Именно поэтому в постели у неё есть одно правило: не спать с одним и тем же человеком несколько раз. Она получает удовольствия, избегая всей неразберихи, вносимой отношениями. Что с того, если именно из-за этого она обрела дурную репутацию в университете? Самое главное, что так никому не будет больно. Особенно ей. Однако, когда по соседству селится смехотворно красивая девушка, Чжи Мин уже не уверена, как долго она сможет держать данное самой себе обещание.</p>
    <p><strong>📋 Информация:</strong><br>
    🌸 Категория: Юри<br>
    ⭐️ Рейтинг: ⭐️⭐️⭐️⭐️🌟 (9.7/10)<br>
    📅 Год: 2022<br>
    🟢 Статус: Онгоинг (продолжается)</p>
    <a href="/yuri">
        <button style="font-size: 28px; padding: 12px 24px;">🔙 Назад к юри</button>
    </a>
</body>
</html>