<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кошмарная ночь</title>
</head>
<body style="font-size: 24px;">
    <h1>✨ Кошмарная ночь</h1>
    <img src="{{ url_for('static', filename='ya2.jpg') }}" width="55%">
    <p><strong>📖 Описание:</strong><br>
    Пада застрял в хоррор-РПГ, где каждый шаг приближает его к разгадке, но и к новой смерти. Он изучил мотивы убийц, тайны NPC и мрачный сеттинг — осталось выдержать ещё пару игр. Однако привычный расклад рушится, когда Нам Доха, которого Пада считал безобидным NPC, начинает вести себя странно. Неужели он всё это время был другим игроком? Теперь Паде предстоит пройти через пытки, чтобы завершить сюжетную линию, а Доха вызывается «помочь». Но его взгляд не сулит ничего, кроме новых, куда более зловещих страданий. Сможет ли Пада вырваться из этой Кошмарной ночи?</p>
    <p><strong>📋 Информация:</strong><br>
    🌈 Категория: Яой<br>
    ⭐️ Рейтинг: ⭐️⭐️⭐️⭐️🌟 (9.0/10)<br>
    📅 Год: 2023<br>
    🟢 Статус: Онгоинг (продолжается)</p>
    <a href="/yaoi">
        <button style="font-size: 28px; padding: 12px 24px;">🔙 Назад к яой</button>
    </a>
</body>
</html>